/*for tablet*/
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
      font-size: 32px;

  }
  .servicegrad {
    width: 50%;
    margin-bottom: 1px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  .top-wrapper {
      text-align: center;
  }
  .top-wrapper h1 {
      font-size: 24px;
      line-height: 32px;
  }
  footer {
      text-align: center;
  }
  .box .col-4{
    
    width:100%;
    float:none;
  }
  .servicegrad {
    widows: 100%;
  }
}
